body {
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 500px;
  margin: 50px auto;
  position: relative;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-group label {
  color: #555;
  font-weight: 500;
}

.form-control {
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0;
  padding-left: 30px;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #6c63ff;
  box-shadow: none;
}

.form-group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
}

.btn-primary {
  background-color: #6c63ff;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #5549d6;
}

.btn-circle {
  width: 80px;
}

.signup-link{
  text-decoration: none;
  float: right;
  margin-top: 3%;
}
.signup-link:hover{
  text-decoration: underline;
}